{% extends 'base.html' %}
{% block title %}{{user.first_name}} {{user.last_name}} Details{% endblock %}

{% block content %}
<img src="{{user.image_url}}" width="200" height="200"></img>
<ul>
    <li>
    ID: {{user.id}}
    </li>
    <li>
    Name: {{user.first_name}} {{user.last_name}}
    </li>
</ul>
<h2>{{user.first_name}} {{user.last_name}}</h2>
<p><form action="/users/{{user.id}}/edit">
    <input type="submit" value="Edit" name="Edit User" class="btn btn-outline-primary"></form></p>
    <p><form method="POST" action="/users/{{user.id}}/delete">
    <input type="submit" value="Delete" name="Delete User" class="btn btn-danger"></form></p>
<blockquote>{{user.greet()}}</blockquote>
{% if posts %}
<h3>Posts for {{user.first_name}} {{user.last_name}}</h3>   
<ul>{% for p in posts %}
    <li>
        <a href = "/posts/{{p.id}}">{{p.title}}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
<form action ="{{user.id}}/posts/new">
    <input type="submit" value="add post" name="add post" class="btn btn-primary">
</form>
<p><a href = '/'>Go Back</a></p>
{% endblock %}