{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<h2>{{post.title}}</h2>
<p>{{post.content}}<p>
<p><i>By {{post.user.first_name}} {{post.user.last_name}}</i></p>
{% if post.tags %}
<p>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
  {% endfor %}
</p>
{% endif %}
    <p><form action="/users/{{post.user_id}}" method="GET">
    <input type = "submit" name = "Cancel" value = "Cancel" class="btn btn-outline-primary"></form></p>
    <p><form method="GET" action="/posts/{{post.id}}/edit">
    <input type = "submit" name = "Edit" value = "Edit" class="btn btn-primary"></form></p>
    <p><form method="POST" action="/posts/{{post.id}}/delete">
    <input type = "submit" name = "Delete" value = "Delete" class="btn btn-outline-danger">
    </form></p>

{% endblock %}