{% extends 'base.html' %}
{% block title %} New Post Form {% endblock %}
{% block content %}


<h1>Add Post for {{user.first_name}}</h1>
   <form method="POST" action="/users/{{user.id}}/posts/new">
        <input type = "text" id ="title"  name="title" placeholder="title">
        <p><textarea id="content" name="content" rows="4" cols="20" placeholder = "Enter post content here"></textarea></p>
        
        {% for tag in tags %}
        <div><input class="form-check-inline"
        type="checkbox"
        value="{{ tag.id }}"
        id="tag_{{ tag.id }}"
        name="tags">
        <label class="form-check-label" for="tag_{{ tag.id }}">
                {{ tag.name }}
        </label>
        </div>
        {% endfor %}
        </div>
        <button>Add Content</button>
</form>


<p><form action="/users/{{user.id}}"><input type="submit" value="Cancel"></input></form></p>
{% endblock %}


