{% extends 'base.html' %} {% block title %} New Tag Form {% endblock %} {% block
content %}
<h1>Create a Tag</h1>
<form method="POST" action="/tags/new">
<div class="form-group row">
  <label for="name" class="col-sm-auto col-form-label d-flex align-items-sm-center"
><p><i>Name</i></p>
  </label>
  <div class="col-md-10">
    <input
      type="text"
      class="form-control"
      placeholder="Enter a name for the tag"
      name="name" id="name"
    />
  </div>
</div>

<div class="form-check form-group row">
  {% for p in posts %}
  <div>
    <input
      class="form-input"
      type="checkbox"
      value="{{p.id}}"
      id="{{p.id}}"
      name="posts"
    />
    <label class="form-check-label" for="p_{{p.id}}">{{p.title}}</label>
  </div>
  {% endfor %}
</div>

<div class="mt-md-3 form-group row">
    <div class="ml-auto mr-3">
        <a href="/tags" class="btn btn-outline-secondary">Cancel </a>
        <button type="submit" class="btn btn-success">Add </button>
</div>
</div>
</form>
  {% endblock %}

